---
import Section from "../Section.astro";
import ProyectCard from "../ProyectCard.astro";

const projects = [
	{
		position: 1,
		title: "MrCRUD",
		github: "https://github.com/omarbvitea/MrCRUD",
		url: "",
		description: "Full Stack application demonstrating a Client-Server architecture with a responsive SPA and REST API.",
		tags: ["Node JS", "Express", "TypeScript", "MySQL", "Zod", "Vue", "Vite", "Tailwind CSS", "Pinia"]
	},
	{
		position: 2,
		title: "Elo Hell Toys",
		github: "https://github.com/omarbvitea/EHT",
		url: "https://eht-amber.vercel.app/",
		description: "Modern web app for TFT player stats using Riot Games API, focused on real-time match data visualization and player performance insights.",
		tags: ["Vue", "TypeScript", "Vite", "PrimeVue", "Tailwind CSS", "TanStack Query", "Pinia"]
	},
	{
		position: 3,
		title: "Family Tree Platform",
		github: "https://github.com/omarbvitea/vite-kin-business",
		url: "",
		description: "Web application for creating and managing family trees based on node structures and relationships.",
		tags: ["In progress", "Python", "FastAPI", "Docker", "Alembic", "PostgreSQL"]
	}
]
---

<Section title="Projects">
  <div
    class="slider"
    style=`
    --width: 250px;
    --height: 300px;
    --quantity: ${projects.length};`
  >
    <div class="list">
        {projects.map((project) => (
            <div class="item" style=`--position: ${project.position}` >
                <ProyectCard
                    title={project.title}
                    github={project.github}
                    url={project.url}
                    description={project.description}
                    tags={project.tags}
                />
            </div>
        ))}
    </div>
  </div>
</Section>
<style>
  .slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      transparent,
      #000 10% 90%,
      transparent
    );
  }
  .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
  }
  .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    display: flex;
    align-items: center;
    left: 100%;
    animation: autoRun 12s linear infinite;
    animation-delay: calc((12s / var(--quantity)) * (var(--position) - 1) - 12s);
  }
  @keyframes autoRun {
    from {
      left: 100%;
    }
    to {
      left: calc(var(--width) * -1);
    }
  }
  .slider:hover .item {
    animation-play-state: paused !important;
  }
</style>

